.mat-mdc-card-content {
  display: flex;
  flex-direction: column;
}

.login-form-container {
  padding-top: 10vh;
}

.close-button {
  display: flex;
  justify-content: flex-end;
}

.login-dialog-container {
  display: contents;
}
