.mat-mdc-card-content {
  display: flex;
  flex-direction: column;
}

.login-form-container {
  display: flex;
  padding-top: 10vh;
  max-width: 100vw;
  flex-direction: column;
}

.login-form-card {
  max-width: 30vw;
}

.close-button-container {
  display: flex;
  justify-content: flex-end;
}

.close-button:hover {
  color: var(--mat-sys-error);
}

.login-dialog-container {
  display: contents;
}
