<mat-card>
  <mat-card-header>
    <mat-card-title> Form </mat-card-title>
  </mat-card-header>

  <form [formGroup]="loginFormGroup">
    <mat-card-content>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" />

        @if (loginFormGroup.controls.username.hasError("required")) {
          <mat-error> A username is required. </mat-error>
        }
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button type="submit" [disabled]="loginFormGroup.invalid">
        Submit
      </button>
    </mat-card-actions>
  </form>
</mat-card>
