mat-card {
  margin: 0 auto;
  width: clamp(300px, 30%, 40%);
}

mat-card-header {
  justify-content: center;
}

button {
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

mat-card-content {
  gap: 1rem;
}
