<div class="disruptive-form-container">
  <mat-card class="special-mat-card">
    <mat-card-header class="special-mat-header">
      <mat-card-title class="special-mat-title">{{
        'disruptiveMotive.title' | transloco
      }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="special-mat-content">
      <form [formGroup]="formDisruption" class="special-form">
        <mat-form-field appearance="fill" class="special-form-field">
          <mat-label>{{ 'disruptiveMotive.dropDownText' | transloco }}</mat-label>
          <mat-select formControlName="disruptionMotive">
            @for (motive of motives; track $index) {
              <mat-option [value]="motive">
                {{ 'disruptiveMotive.' + toCamelCase(motive) | transloco }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        @if (
          formDisruption.controls.disruptionMotive.value ===
          DisruptiveMotiveLabels[DisruptiveMotive.cancelation]
        ) {
          <mat-form-field appearance="fill" class="special-form-field">
            <mat-label>{{ 'disruptiveMotive.numberOfDaysLong' | transloco }}</mat-label>
            <mat-select formControlName="daysBeforeCancellation">
              @for (option of cancellationNotice; track $index) {
                <mat-option [value]="option">
                  {{ 'disruptiveMotive.' + toCamelCase(option) | transloco }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        } @else if (
          formDisruption.controls.disruptionMotive.value ===
          DisruptiveMotiveLabels[DisruptiveMotive.delay]
        ) {
          <mat-form-field appearance="fill" class="special-form-field">
            <mat-label>{{ 'disruptiveMotive.delayedHours' | transloco }}</mat-label>
            <mat-select formControlName="hoursLateArrival">
              @for (option of delayNotice; track $index) {
                <mat-option [value]="option">{{
                  'disruptiveMotive.' + toCamelCase(option) | transloco
                }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        } @else if (
          formDisruption.controls.disruptionMotive.value ===
          DisruptiveMotiveLabels[DisruptiveMotive.deniedBoarding]
        ) {
          <mat-form-field appearance="fill" class="special-form-field">
            <mat-label>{{ 'disruptiveMotive.seatGaveQuestion' | transloco }}</mat-label>
            <mat-select formControlName="gaveSeatVoluntarly">
              <mat-option *ngFor="let option of [true, false]" [value]="option ? 'Yes' : 'No'">
                {{ option ? ('yes' | transloco) : ('no' | transloco) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          @if (formDisruption.controls.gaveSeatVoluntarly.value === 'No') {
            <mat-form-field appearance="fill" class="special-form-field">
              <mat-label>{{ 'disruptiveMotive.reasonDeniedBoarding' | transloco }}</mat-label>
              <mat-select formControlName="deniedBoardingMotive">
                <mat-option *ngFor="let option of reasons" [value]="option">
                  {{ 'disruptiveMotive.' + toCamelCase(option) | transloco }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          }
        }
        @if (
          formDisruption.controls.disruptionMotive.value ===
            DisruptiveMotiveLabels[DisruptiveMotive.delay] ||
          formDisruption.controls.disruptionMotive.value ===
            DisruptiveMotiveLabels[DisruptiveMotive.cancelation]
        ) {
          <mat-form-field appearance="fill" class="special-form-field">
            <mat-label>{{ 'disruptiveMotive.airlineMotiveIsMentioned' | transloco }}</mat-label>
            <mat-select formControlName="airlineMentionedMotive">
              @for (option of isMotiveSpecified; track $index) {
                <mat-option [value]="option">{{
                  'disruptiveMotive.' + toCamelCase(option) | transloco
                }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          @if (formDisruption.controls.airlineMentionedMotive.value === 'Yes') {
            <mat-form-field appearance="fill" class="special-form-field">
              <mat-label>{{ 'disruptiveMotive.communicatedMotive' | transloco }}</mat-label>
              <mat-select formControlName="communicatedMotive">
                @for (motive of airlineDeniedMotives; track $index) {
                  <mat-option [value]="motive">
                    {{ 'disruptiveMotive.' + toCamelCase(motive) | transloco }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          }
        }
        @if (
          formDisruption.controls.disruptionMotive.value ===
            DisruptiveMotiveLabels[DisruptiveMotive.delay] ||
          formDisruption.controls.disruptionMotive.value ===
            DisruptiveMotiveLabels[DisruptiveMotive.cancelation] ||
          formDisruption.controls.disruptionMotive.value ===
            DisruptiveMotiveLabels[DisruptiveMotive.deniedBoarding]
        ) {
          <mat-form-field appearance="fill" class="special-form-field">
            <mat-label>{{ translate('disruptiveMotive.optionalComments') }}</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        }
        @if (
          formDisruption.controls.disruptionMotive.value !== null &&
          formDisruption.controls.disruptionMotive.value !== ''
        ) {
          <p class="eligibility-message">{{
            'disruptiveMotive.' + toCamelCase(eligibleText()) | transloco
          }}</p>
        }
      </form>
    </mat-card-content>
    <mat-card-actions class="special-form-actions">
      <button
        mat-stroked-button
        matTooltip="{{ 'flightDetails.resetTooltip' | transloco }}"
        [disabled]="!formDisruption.valid || isEligible()"
        (click)="reset()"
      >
        {{ 'flightDetails.reset' | transloco }}
        <mat-icon fontIcon="replay" />
      </button>
      <button
        mat-flat-button
        class="special-mat-prim-button"
        [disabled]="!isEligible()"
        (click)="continue()"
      >
        {{ 'flightDetails.next' | transloco }}
        <mat-icon fontIcon="arrow_forward" />
      </button>
    </mat-card-actions>
  </mat-card>
</div>
