.disruption-form-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .disruptive-form-card {
    background: var(--mat-sys-tertiary-container);

    .mat-mdc-card-content {
      overflow: auto;
      padding: 0.5rem;
    }

    .form-actions {
      justify-content: flex-end;
    }

    form {
      width: 100%;
      overflow: auto;

      .mat-mdc-form-field {
        width: 100%;
      }
    }

    .eligibility-message {
      display: flex;
      justify-content: center;
      color: var(--mat-sys-primary);
      font-weight: bold;
      font-size: 1.2em;
    }
  }
}
