.disruptive-form-wrapper {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  min-height: 100vh;
  padding: 0 1rem;
}

button {
  &:hover {
    background-color: var(--mat-sys-secondary-container);
    transform: scale(1.075);
  }

  &:disabled {
    background: var(--mat-sys-error-container);
    cursor: not-allowed;
  }
}
.form-fields {
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  max-width: 56.25rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--mat-sys-primary-container);
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 30rem;
}

.form-actions{
  max-width: 5vw;
  display: flex;
  align-self: flex-end;
}

.eligiblity-message {
  color: var(--mat-sys-primary);
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
}