.special-mat-card {
  margin: 0.75rem auto;
  padding: 1.5rem;
  width: clamp(400px, 45%, 100%);
  max-height: calc(100vh - 64px - 72px - 1.5em);
  background: var(--mat-sys-tertiary-container) !important;

  .special-mat-header {
    padding: 0.5rem;
    justify-content: center;

    .special-mat-title {
      font-weight: bold;
    }
  }

  .special-mat-content {
    overflow: auto;
    padding: 0.75rem;

    .special-mat-sec-button {
      background: var(--mat-sys-primary-container);
    }
  }

  .special-form-actions {
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 1rem 0.5rem;

    .special-mat-prim-button {
      background: var(--mat-sys-primary);

      &[disabled] {
        color: white;
        opacity: 0.5;
      }
    }

    .special-mat-sec-button {
      background: var(--mat-sys-primary-container);
    }
  }

  .special-form {
    width: 100%;
    overflow: auto;

    .special-form-field {
      width: 100%;
    }
  }
}

.passenger-details-form-card {
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    overflow: hidden;

    & > div {
      display: flex;
      gap: 2rem;

      > * {
        flex: 1;
      }
    }
  }
}

.special-layout {
  height: 100%;
  background: var(--mat-sys-background);
}

.special-navbar {
  width: 240px;
  background: var(--mat-sys-tertiary-container) !important;
  border-radius: 0 !important;
  padding-top: 1rem;
  overflow: hidden;
}

.special-nav-item {
  padding: 2rem;
  .mdc-list-item__primary-text {
    font-weight: 800 !important;
  }
  background: var(--mat-sys-primary-container);

  &:hover {
    background: var(--mat-sys-background);
  }

  &.active {
    background: var(--mat-sys-primary);
  }
}

.special-content {
  padding: 2rem;
  overflow-y: auto;
}
