.special-mat-card {
  margin: 0.75rem auto;
  padding: 1.5rem;
  width: clamp(400px, 45%, 100%);
  max-height: calc(100vh - 64px - 72px - 1.5em);
  background: var(--mat-sys-tertiary-container) !important;

  .special-mat-header {
    padding: 0.5rem;
    justify-content: center;

    .special-mat-title {
      font-weight: bold;
    }
  }

  .special-mat-content {
    overflow: auto;
    padding: 0.75rem;

    .special-mat-sec-button {
      background: var(--mat-sys-primary-container);
    }
  }

  .special-form-actions {
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 1rem 0.5rem;

    .special-mat-prim-button {
      background: var(--mat-sys-primary);

      &[disabled] {
        opacity: 0.3;
      }
    }

    .special-mat-sec-button {
      background: var(--mat-sys-primary-container);
    }
  }

  .special-form {
    width: 100%;
    overflow: auto;

    .special-form-field {
      width: 100%;
    }
  }
}
