.scrollable-table {
  height: 100%;
  overflow-y: hidden;
  padding-right: 0.5rem;
  padding-bottom: 6rem;
}


.special-table {
  padding: 1rem 3rem;
  max-height: 70vh;
  overflow-y:auto;
  margin-top: 1rem;
}

.special-mat-table {
  background: var(--mat-sys-surface);

  th {
    text-align: center;
    background: var(--mat-sys-primary) !important;
    font-weight: bold;
    color: white;
  }

  td {
    text-align: center;
    background: var(--mat-sys-surface);
  }

  tr:hover td {
    background-color: var(--mat-sys-tertiary-container);
  }

  tr:nth-child(even) td {
    background: var(--mat-sys-surface-variant);
  }

  mat-chip {
    font-weight: bold;
  }
}

.list-header {
  display: flex;
  align-items: center;
  height: 6rem;
  gap: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;

  .spacer {
    flex: 1;
  }

  mat-form-field {
    width: 12.5rem;
    height: 3.5rem;
  }

  .special-icon-button {
    &.active {
      background-color: var(--mat-sys-primary);
      color: white;

      &:hover {
        background-color: var(--mat-sys-primary);
      }
    }
  }
}
