<mat-dialog-content class="mat-typography dialog-terms-gdpr">
  <h1>{{ 'gdprDialog.title' | transloco }}</h1>
  <h2>{{ 'gdprDialog.policyTitle' | transloco }}</h2>
  <p>{{ 'gdprDialog.effectiveDate' | transloco }}</p>

  <h3>{{ 'gdprDialog.introductionTitle' | transloco }}</h3>
  <p>{{ 'gdprDialog.introductionText' | transloco }}</p>

  <h3>{{ 'gdprDialog.controllerTitle' | transloco }}</h3>
  <p>{{ 'gdprDialog.controllerText' | transloco }}</p>

  <h3>{{ 'gdprDialog.dataCollectTitle' | transloco }}</h3>
  <p>{{ 'gdprDialog.dataCollectText' | transloco }}</p>
  <ul>
    <li><strong>{{ 'gdprDialog.contactInfo' | transloco }}</strong></li>
    <li><strong>{{ 'gdprDialog.identificationData' | transloco }}</strong></li>
    <li><strong>{{ 'gdprDialog.technicalData' | transloco }}</strong></li>
    <li><strong>{{ 'gdprDialog.financialData' | transloco }}</strong></li>
    <li><strong>{{ 'gdprDialog.otherData' | transloco }}</strong></li>
  </ul>

  <h3>{{ 'gdprDialog.collectHowTitle' | transloco }}</h3>
  <p>{{ 'gdprDialog.collectHowText' | transloco }}</p>
  <ul>
    <li>{{ 'gdprDialog.collectHow1' | transloco }}</li>
    <li>{{ 'gdprDialog.collectHow2' | transloco }}</li>
    <li>{{ 'gdprDialog.collectHow3' | transloco }}</li>
  </ul>

  <h3>{{ 'gdprDialog.legalBasisTitle' | transloco }}</h3>
  <p>{{ 'gdprDialog.legalBasisText' | transloco }}</p>
  <ul>
    <li><strong>{{ 'gdprDialog.contract' | transloco }}</strong></li>
    <li><strong>{{ 'gdprDialog.legitimateInterests' | transloco }}</strong></li>
    <li><strong>{{ 'gdprDialog.consent' | transloco }}</strong></li>
    <li><strong>{{ 'gdprDialog.legalObligation' | transloco }}</strong></li>
  </ul>

  <h3>{{ 'gdprDialog.purposesTitle' | transloco }}</h3>
  <p>{{ 'gdprDialog.purposesText' | transloco }}</p>
  <ul>
    <li>{{ 'gdprDialog.purpose1' | transloco }}</li>
    <li>{{ 'gdprDialog.purpose2' | transloco }}</li>
    <li>{{ 'gdprDialog.purpose3' | transloco }}</li>
    <li>{{ 'gdprDialog.purpose4' | transloco }}</li>
    <li>{{ 'gdprDialog.purpose5' | transloco }}</li>
    <li>{{ 'gdprDialog.purpose6' | transloco }}</li>
  </ul>

  <h3>{{ 'gdprDialog.retentionTitle' | transloco }}</h3>
  <p>{{ 'gdprDialog.retentionText' | transloco }}</p>

  <h3>{{ 'gdprDialog.rightsTitle' | transloco }}</h3>
  <p>{{ 'gdprDialog.rightsText' | transloco }}</p>
  <ul>
    <li><strong>{{ 'gdprDialog.rightAccess' | transloco }}</strong></li>
    <li><strong>{{ 'gdprDialog.rightRectification' | transloco }}</strong></li>
    <li><strong>{{ 'gdprDialog.rightErasure' | transloco }}</strong></li>
    <li><strong>{{ 'gdprDialog.rightRestriction' | transloco }}</strong></li>
    <li><strong>{{ 'gdprDialog.rightPortability' | transloco }}</strong></li>
    <li><strong>{{ 'gdprDialog.rightObject' | transloco }}</strong></li>
    <li><strong>{{ 'gdprDialog.rightWithdraw' | transloco }}</strong></li>
  </ul>
  <p>{{ 'gdprDialog.rightsContact' | transloco }}</p>

  <h3>{{ 'gdprDialog.securityTitle' | transloco }}</h3>
  <p>{{ 'gdprDialog.securityText' | transloco }}</p>

  <h3>{{ 'gdprDialog.thirdPartyTitle' | transloco }}</h3>
  <p>{{ 'gdprDialog.thirdPartyText' | transloco }}</p>

  <h3>{{ 'gdprDialog.transfersTitle' | transloco }}</h3>
  <p>{{ 'gdprDialog.transfersText' | transloco }}</p>

  <h3>{{ 'gdprDialog.contactTitle' | transloco }}</h3>
  <p>{{ 'gdprDialog.contactText' | transloco }}</p>
  <address>
    <strong>{{ 'gdprDialog.addressName' | transloco }}</strong><br>
    {{ 'gdprDialog.addressStreet' | transloco }}<br>
    {{ 'gdprDialog.addressEmail' | transloco }}<br>
    {{ 'gdprDialog.addressPhone' | transloco }}
  </address>

  <h3>{{ 'gdprDialog.changesTitle' | transloco }}</h3>
  <p>{{ 'gdprDialog.changesText' | transloco }}</p>
</mat-dialog-content>
<mat-dialog-actions class="gdpr-checkbox" align="end">
  <button mat-raised-button mat-dialog-close>{{ 'gdprDialog.close' | transloco }}</button>
</mat-dialog-actions>