<div class="flight-details-form-container">
  <form [formGroup]="flightForm">
    <h2 class="mat-headline-5">
      {{ flight.departureAirport.iata }} -
      {{ flight.destinationAirport.iata }}
    </h2>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'flightDetails.flightNr' | transloco }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="flightNr"
          (change)="selectFlightNr()"
          placeholder="{{ 'flightDetails.typeFlightNr' | transloco }}"
        />
        @if (flightForm.controls.flightNr.errors?.['required']) {
          <mat-error>
            <mat-icon>error</mat-icon>
            {{ 'flightDetails.error.flightNumber.required' | transloco }}</mat-error>
        }
        @if (flightForm.controls.flightNr.errors?.['pattern']) {
          <mat-error>
            <mat-icon>error</mat-icon>
            {{ 'flightDetails.error.flightNumber.pattern' | transloco }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ 'flightDetails.airline' | transloco }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="airline"
          [matAutocomplete]="autoAirline"
          placeholder="{{ 'flightDetails.typeAirline' | transloco }}"
        />
        <mat-autocomplete #autoAirline="matAutocomplete">
          <mat-option
            *ngFor="let airline of filteredAirlines"
            [value]="airline.name"
            (onSelectionChange)="selectAirline(airline)"
          >
            {{ airline.name }}
          </mat-option>
        </mat-autocomplete>

        @if (flightForm.controls.airline.errors?.['required']) {
          <mat-error>
            <mat-icon>error</mat-icon>
            {{ 'flightDetails.error.airline.required' | transloco }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="depDate">
      <mat-form-field class="date">
        <mat-label>{{ 'flightDetails.plannedDepartureDate' | transloco }}</mat-label>
        <input
          matInput
          [matDatepicker]="departureDatePicker"
          formControlName="plannedDepartureDate"
          [min]="minDate"
          [max]="maxDate"
          (dateChange)="selectDate($event)"
        />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="departureDatePicker" />
        <mat-datepicker #departureDatePicker />
        @if (flightForm.controls.plannedDepartureDate.errors?.['required']) {
          <mat-error>
            <mat-icon>error</mat-icon>
            {{
            'flightDetails.error.plannedDepartureDate.required' | transloco
          }}</mat-error>
        }
      </mat-form-field>
    </div>
  </form>
</div>
