<mat-card class="special-mat-card">
  <mat-card-header class="special-mat-header">
    <mat-card-title  class="special-mat-title">Almost done</mat-card-title>
  </mat-card-header>

  <mat-card-content class="special-mat-content">
    <p>{{ eligibleMessage() }}</p>

    <a mat-raised-button color="primary" href="assets/UrsusCooleriiGDPR.pdf" download>
      Download GDPR file
    </a>

    <mat-checkbox [(ngModel)]="agreed" class="checkbox">
      I agree to the terms in the GDPR file
    </mat-checkbox>
  </mat-card-content>

  <mat-card-actions class="special-form-actions">
    <button mat-flat-button (click)="back()">
      {{ translate('stepper.back') }}
    </button>
    <button
      mat-flat-button
      color="primary"
      (click)="submit()"
      [disabled]="!isEligible() || !agreed">
      {{ translate('stepper.done') }}
    </button>
  </mat-card-actions>
</mat-card>
