@if (this.isLoading()) {
  <app-loading-spinner />
}
@if(!saved()){
  <mat-card class="special-mat-card">
    <mat-card-header class="special-mat-header">
      <mat-card-title class="special-mat-title">{{ 'confirmationEligibility.almostDone' | transloco }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="special-mat-content">
      <div class="info-content">
        <p>{{ 'confirmationEligibility.generalInfo' | transloco }}</p>
        <p>{{ 'confirmationEligibility.readGdprTerms' | transloco }}</p>
        <p>{{ 'confirmationEligibility.checkBoxes' | transloco }}</p>
        <p>{{ 'confirmationEligibility.passwordGenerated' | transloco }}</p>
        <p>{{ 'confirmationEligibility.changePassword' | transloco }}</p>
      </div>
      <button mat-button (click)="openDialog()">
        {{ 'confirmationEligibility.readGdprTermsButton' | transloco }}
      </button>
      <mat-error>
        {{ saveError() }}
      </mat-error>
      <p class="centered-mat-label">{{ 'confirmationEligibility.' + eligibleMessage() | transloco }}</p>
      <form [formGroup]="gdprForm" (ngSubmit)="submit()" class="gdpr-form">
        <mat-checkbox formControlName="gdpr">{{ 'confirmationEligibility.gdprCheckbox' | transloco }}</mat-checkbox>
        <mat-checkbox formControlName="terms">{{ 'confirmationEligibility.termsCheckbox' | transloco }}</mat-checkbox>
        <mat-checkbox formControlName="marketing">{{ 'confirmationEligibility.marketingCheckbox' | transloco }}</mat-checkbox>
      </form>
    </mat-card-content>
    <mat-error class="not-checked-error">
      {{ notCheckedText() }}
    </mat-error>
    <mat-label class="reward-label">{{ rewardMessage }}</mat-label>
    <mat-card-actions class="special-form-actions">
      <button mat-flat-button (click)="back()">
        {{ 'stepper.back' | transloco }}
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="submit()"
        [disabled]="!isEligible()">
        {{ 'stepper.done' | transloco }}
      </button>
    </mat-card-actions>
  </mat-card>
} @else {
  <mat-card class="special-mat-card">
    <mat-card-header class="special-mat-header">
      <mat-card-title class="special-mat-title">{{ 'confirmationEligibility.submittedTitle' | transloco }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="special-mat-content">
      <mat-card-subtitle class="confirmation-sub-title">{{ 'confirmationEligibility.generalInfoSubtitle' | transloco }}</mat-card-subtitle>
      <div class="info-content">
        <p>{{ 'confirmationEligibility.emailSent' | transloco }} {{email}}</p>
        <p>{{ 'confirmationEligibility.caseCreated' | transloco }}</p>
      </div>
      <mat-card-subtitle class="confirmation-sub-title">{{ 'confirmationEligibility.nextSubtitle' | transloco }}</mat-card-subtitle>
      <div class="info-content">
        <p>{{ 'confirmationEligibility.nextStep1' | transloco }}</p>
        <p>{{ 'confirmationEligibility.nextStep2' | transloco }}</p>
        <p>{{ 'confirmationEligibility.nextStep3' | transloco }}</p>
      </div>
    </mat-card-content>
  </mat-card>
}