<div class="passenger-details-form-container">
  <ng-container *transloco="let translate; prefix: 'passenger-details'">
        <form [formGroup]="passengerDetailsForm">
          <div>
            <mat-form-field appearance="fill" disabled="autoFilled()">
              <mat-label>{{ translate('firstName') }}</mat-label>
              <input
                matInput
                formControlName="firstName"
                type="text"
                id="firstName"
                [placeholder]="translate('firstNamePlaceholder')"
              />
              @if (passengerDetailsForm.controls.firstName.errors?.['required']) {
                <mat-error>
                  <mat-icon>error</mat-icon>
                  {{ translate('error.firstName.required') }}</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="fill" disabled="autoFilled()">
              <mat-label>{{ translate('lastName') }}</mat-label>
              <input
                [disabled]="autoFilled()"
                matInput
                formControlName="lastName"
                type="text"
                id="lastName"
                [placeholder]="translate('lastNamePlaceholder')"
              />
              @if (passengerDetailsForm.controls.lastName.errors?.['required']) {
                <mat-error>
                  <mat-icon>error</mat-icon>
                  {{ translate('error.lastName.required') }}</mat-error>
              }
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>{{ translate('dateOfBirth') }}</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="dateOfBirth"
                id="dateOfBirth"
                [max]="currentDate"
                [placeholder]="translate('dateOfBirthPlaceholder')"
              />
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker" />
              <mat-datepicker #picker startView="multi-year" />
              @if (passengerDetailsForm.controls.dateOfBirth.errors?.['required']) {
                <mat-error>
                  <mat-icon>error</mat-icon>
                  {{ translate('error.dateOfBirth.required') }}</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>{{ translate('phoneNumber') }}</mat-label>
              <input
                matInput
                formControlName="phoneNumber"
                type="tel"
                id="phoneNumber"
                [placeholder]="translate('phoneNumberPlaceholder')"
              />
              @if (passengerDetailsForm.controls.phoneNumber.errors?.['required']) {
                <mat-error>
                  <mat-icon>error</mat-icon>
                  {{ translate('error.phoneNumber.required') }}</mat-error>
              }
              @if (passengerDetailsForm.controls.phoneNumber.errors?.['pattern']) {
                <mat-error>
                  <mat-icon>error</mat-icon>
                  {{ translate('error.phoneNumber.pattern') }}</mat-error>
              }
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>{{ translate('address') }}</mat-label>
              <input
                matInput
                formControlName="address"
                type="text"
                id="address"
                [placeholder]="translate('addressPlaceholder')"
              />
              @if (passengerDetailsForm.controls.address.errors?.['required']) {
                <mat-error>
                  <mat-icon>error</mat-icon>
                  {{ translate('error.address.required') }}</mat-error>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ translate('postalCode') }}</mat-label>
              <input
                matInput
                formControlName="postalCode"
                type="text"
                id="postalCode"
                [placeholder]="translate('postalCodePlaceholder')"
              />
              @if (passengerDetailsForm.controls.postalCode.errors?.['required']) {
                <mat-error>
                  <mat-icon>error</mat-icon>
                  {{ translate('error.postalCode.required') }}</mat-error>
              }
              @if (passengerDetailsForm.controls.postalCode.errors?.['pattern']) {
                <mat-error>
                  <mat-icon>error</mat-icon>
                  {{ translate('error.postalCode.pattern') }}</mat-error>
              }
            </mat-form-field>
          </div>
        </form>
  </ng-container>
</div>
