<ng-container *transloco="let translate; prefix: 'passenger-details'">
  <form [formGroup]="passengerDetailsForm" (ngSubmit)="onFormSubmit()" class="passenger-form">
      <h2 class="mat-headline-5">{{ translate("title") }}</h2>

      <mat-form-field appearance="fill">
          <mat-label>{{ translate("firstName") }}</mat-label>
          <input matInput formControlName="firstName" type="text" id="firstName"/>
          @if (passengerDetailsForm.controls.firstName.errors?.['required']) {
              <mat-error>Firstname is required!</mat-error>
          }
      </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>{{ translate("lastName") }}</mat-label>
          <input matInput formControlName="lastName" type="text" id="lastName"/>
          @if (passengerDetailsForm.controls.lastName.errors?.['required']) {
              <mat-error>Lastname is required!</mat-error>
          }
      </mat-form-field>

      <mat-form-field>
          <mat-label>{{ translate("dateOfBirth") }}</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" id="dateOfBirth"/>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"/>
          <mat-datepicker #picker/>
          @if (passengerDetailsForm.controls.dateOfBirth.errors?.['required']) {
              <mat-error>Date is required!</mat-error>
          }
      </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>{{ translate("phoneNumber") }}</mat-label>
          <input matInput formControlName="phoneNumber" type="tel" id="phoneNumber"/>
          @if (passengerDetailsForm.controls.phoneNumber.errors?.['required']) {
              <mat-error>Phone number is required!</mat-error>
          }
      </mat-form-field>

      <mat-form-field>
          <mat-label>{{ translate("address") }}</mat-label>
          <input matInput formControlName="address" type="text" id="address"/>
          @if (passengerDetailsForm.controls.address.errors?.['required']) {
              <mat-error>Address is required!</mat-error>
          }
      </mat-form-field>

      <mat-form-field>
          <mat-label>{{ translate("postalCode") }}</mat-label>
          <input matInput formControlName="postalCode" type="text" id="postalCode"/>
          @if (passengerDetailsForm.controls.postalCode.errors?.['required']) {
              <mat-error>Postal code is required!</mat-error>
          }
      </mat-form-field>

  <div *transloco="let translate; prefix: 'stepper'">
    <button
      class="form-actions"
      mat-button
      [disabled]="passengerDetailsForm.invalid"
      (click)="continue()"
      >{{ translate('next') }}</button
    >
    <button class="form-actions" mat-button (click)="back()">{{ translate('back') }}</button>
  </div>
</form>
</ng-container>
