@if (this.isLoading()) {
  <app-loading-spinner />
}
<div class="flight-form-wrapper-container">
  <mat-card class="special-mat-card">
    <mat-card-header class="special-mat-header">
      <mat-card-title class="special-mat-title">{{
        'flightDetails.title' | transloco
      }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="special-mat-content">
      <div *ngFor="let flight of connectingFlights(); let i = index">
        <h2 class="mat-headline-5">{{ 'connecting-flight.title' | transloco }} #{{ i + 1 }}</h2>
        <app-flight-details-form
          (airline)="selectAirline(i, $event)"
          (date)="selectDate(i, $event)"
          (flightNr)="selectFlightNr(i, $event)"
          [flightForm]="flight"
          [flight]="getFlight(i)"
        />
        <mat-checkbox
          [checked]="problemFlightIndex === i"
          (change)="updateProblemFlight(i)"
          [ngClass]="{ 'highlight-checkbox': problemFlightIndex === undefined }"
          >{{ 'connecting-flight.problem' | transloco }}</mat-checkbox
        >
      </div>
    </mat-card-content>
    <mat-card-actions *transloco="let translate" class="special-form-actions">
      <button mat-stroked-button (click)="back()"
        >{{ translate('stepper.back') }}
        <mat-icon fontIcon="arrow_back" />
      </button>
      <button
        mat-flat-button
        class="special-mat-prim-button"
        [disabled]="!this.validForms()"
        (click)="continue()"
      >
        {{ translate('stepper.next') }}
        <mat-icon fontIcon="arrow_forward" />
      </button>
    </mat-card-actions>
  </mat-card>
</div>
