@if (this.isLoading()) {
  <app-loading-spinner />
}
<div class="reservation-details-form-container">
  <mat-card class="special-mat-card">
    <mat-card-header class="special-mat-header">
      <mat-card-title class="special-mat-title">
        {{ 'flightDetails.itinerary.title' | transloco }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="special-mat-content">
      <form [formGroup]="reservationForm">
        <div>
          <mat-form-field appearance="fill" class="special-form-field">
            <mat-label>{{ 'flightDetails.departingAirport' | transloco }}</mat-label>
            <input
              type="text"
              matInput
              formControlName="departingAirport"
              (input)="onDepartInput($any($event.target).value)"
              [matAutocomplete]="departure"
              autocomplete="on"
              placeholder="{{ 'flightDetails.searchAirport' | transloco }}"
            />
            <mat-autocomplete #departure="matAutocomplete">
              <cdk-virtual-scroll-viewport itemSize="48" minBufferPx="200" maxBufferPx="300">
                <mat-option
                  *cdkVirtualFor="let airport of filteredDepartAirports; trackBy: trackByAirport"
                  [value]="airport.name"
                  (onSelectionChange)="selectDepartAirport(airport)"
                >
                  {{ airport.name }} - {{ airport.iata }}
                </mat-option>
              </cdk-virtual-scroll-viewport>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="fill" class="special-form-field">
            <mat-label>{{ 'flightDetails.destinationAirport' | transloco }}</mat-label>
            <input
              type="text"
              matInput
              formControlName="destinationAirport"
              (input)="onDestInput($any($event.target).value)"
              [matAutocomplete]="destination"
              autocomplete="on"
              placeholder="{{ 'flightDetails.searchAirport' | transloco }}"
            />
            <mat-autocomplete #destination="matAutocomplete">
              <cdk-virtual-scroll-viewport itemSize="48" minBufferPx="200" maxBufferPx="300">
                <mat-option
                  *cdkVirtualFor="let airport of filteredDestAirports; trackBy: trackByAirport"
                  [value]="airport.name"
                  (onSelectionChange)="selectDestAirport(airport)"
                >
                  {{ airport.name }} - {{ airport.iata }}
                </mat-option>
              </cdk-virtual-scroll-viewport>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="special-form-field">
            <mat-label>{{ 'flightDetails.plannedDepartureDate' | transloco }}</mat-label>
            <input
              matInput
              [matDatepicker]="departureDatePicker"
              formControlName="plannedDepartureDate"
              (dateChange)="setDepartureDate($event)"
            />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="departureDatePicker" />
            <mat-datepicker #departureDatePicker />
            @if (reservationForm.controls.plannedDepartureDate.errors?.['required']) {
              <mat-error>{{
                'flightDetails.error.plannedDepartureDate.required' | transloco
              }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="special-form-field">
            <mat-label>{{ 'flightDetails.plannedArrivalDate' | transloco }}</mat-label>
            <input
              matInput
              [matDatepicker]="arrivalDatePicker"
              formControlName="plannedArrivalDate"
              (dateChange)="setDestinationDate($event)"
              [min]="reservationForm.get('plannedDepartureDate')?.value"
            />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="arrivalDatePicker" />
            <mat-datepicker #arrivalDatePicker />
            @if (reservationForm.controls.plannedArrivalDate.errors?.['required']) {
              <mat-error>{{
                'flightDetails.error.plannedArrivalDate.required' | transloco
              }}</mat-error>
            }
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="fill" class="special-form-field field-row">
            <mat-label>{{ 'flightDetails.itinerary.stopover' | transloco }}</mat-label>
            <input
              type="text"
              aria-label="Number"
              matInput
              (input)="onStopoverInput($any($event.target).value)"
              [matAutocomplete]="stopover"
              [value]="stopoverDisplayValue()"
            />
            <mat-autocomplete #stopover="matAutocomplete">
              <cdk-virtual-scroll-viewport itemSize="48" minBufferPx="200" maxBufferPx="300">
                <mat-option
                  *cdkVirtualFor="let airport of filteredStopoverAirports; trackBy: trackByAirport"
                  [value]="airport"
                  (onSelectionChange)="selectStopoverAirport(airport)"
                >
                  {{ airport.name }} - {{ airport.iata }}
                </mat-option>
              </cdk-virtual-scroll-viewport>
            </mat-autocomplete>
          </mat-form-field>
          <div class="button-wrapper">
            <button mat-stroked-button (click)="addStopover()">
              {{ 'flightDetails.itinerary.addStopover' | transloco }}
              <mat-icon fontIcon="add" />
            </button>
          </div>
        </div>

        <h2>{{ 'flightDetails.itinerary.stopovers' | transloco }}:</h2>
        <div class="stopovers">
          @if (stopovers.length == 0) {
            <p>{{ 'flightDetails.itinerary.noStopovers' | transloco }}</p>
          }
          @for (stopover of stopovers; track $index) {
            <div class="stopover">
              <p>{{ stopover.name }}</p>
              <button mat-icon-button (click)="removeStopover($index)">
                <mat-icon fontIcon="delete" />
              </button>
            </div>
          }
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions class="special-form-actions">
      <button mat-stroked-button (click)="back()"
        >{{ translate('stepper.back') }} <mat-icon fontIcon="arrow_back"
      /></button>
      <button
        mat-flat-button
        class="special-mat-prim-button"
        [disabled]="reservationForm.invalid"
        (click)="continue()"
        >{{ translate('stepper.next') }}
        <mat-icon fontIcon="arrow_forward" />
      </button>
    </mat-card-actions>
  </mat-card>
</div>
