<div class="special-table">
  <table mat-table [dataSource]="cases()" class="mat-elevation-z8">
    <ng-container matColumnDef="contractId">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let c">
        <a [routerLink]="['/cases', c.caseId]">{{ c.contractId }}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="caseDate">
      <th mat-header-cell *matHeaderCellDef>{{ 'caseList.caseDate' | transloco }}</th>
      <td mat-cell *matCellDef="let c">{{ c.caseDate | date }}</td>
    </ng-container>
    <ng-container matColumnDef="flightNr">
      <th mat-header-cell *matHeaderCellDef>{{ 'caseList.flightNr' | transloco }}</th>
      <td mat-cell *matCellDef="let c">{{ c.flightNr }}</td>
    </ng-container>
    <ng-container matColumnDef="flightDepartureDate">
      <th mat-header-cell *matHeaderCellDef>{{ 'caseList.flightDepartureDate' | transloco }}</th>
      <td mat-cell *matCellDef="let c">{{ c.flightDepartureDate | date }}</td>
    </ng-container>
    <ng-container matColumnDef="flightArrivalDate">
      <th mat-header-cell *matHeaderCellDef>{{ 'caseList.flightArrivalDate' | transloco }}</th>
      <td mat-cell *matCellDef="let c">{{ c.flightArrivalDate | date }}</td>
    </ng-container>
    <ng-container matColumnDef="reservationNumber">
      <th mat-header-cell *matHeaderCellDef>{{ 'caseList.reservationNumber' | transloco }}</th>
      <td mat-cell *matCellDef="let c">{{ c.reservationNumber }}</td>
    </ng-container>
    <ng-container matColumnDef="passengerName">
      <th mat-header-cell *matHeaderCellDef>{{ 'caseList.passengerName' | transloco }}</th>
      <td mat-cell *matCellDef="let c">{{ c.passengerName }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let c">
        {{ 'caseList.status.' + c.status | transloco }}
      </td>
    </ng-container>
    <ng-container matColumnDef="colleague">
      <th mat-header-cell *matHeaderCellDef>{{ 'caseList.colleague' | transloco }}</th>
      <td mat-cell *matCellDef="let c">{{ c.colleague }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="caseService.totalCasesSignal()"
    [pageSize]="caseService.getPageSize()"
    [pageIndex]="caseService.getPageIndex()"
    [pageSizeOptions]="[5, 15, 50]"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
