.case-list-header {
  display: flex;
  align-items: center;
  height: 6rem;
  gap: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;

  .spacer {
    flex: 1;
  }

  mat-form-field {
    width: 12.5rem;
    height: 3.5rem;
  }

  .special-icon-button {
    &.active {
      background-color: var(--mat-sys-primary);
      color: white;

      &:hover {
        background-color: var(--mat-sys-primary); // keep same color on hover
      }
    }
  }
}

.scrollable-case-list {
  height: 100%;
  overflow-y: auto;
  padding-right: 0.5rem;
  padding-bottom: 6rem;
}

.case-grid {
  margin-top: 1rem;
  margin-left: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
}

.case-card {
  padding: 1.5rem 1.5rem 1.5rem;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    h3 {
      margin: 0;
      font-weight: bold;
    }
    .subtitle {
      color: grey;
      font-size: 0.9rem;
    }
  }

  .card-body {
    div {
      margin-bottom: 0.3rem;
    }
  }

  .card-footer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .date-chip {
      min-height: 3rem;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
    }
    .departure {
      background-color: var(--mat-sys-primary);
      color: white;
    }
    .arrival {
      background-color: var(--mat-sys-secondary-container);
      color: black;
    }
  }
}

.contract-id-row {
  display: flex;
  align-items: center;
}

.no-results-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 6rem - 45px);
}

.no-results-card {
  background: var(--mat-sys-surface-variant);
  text-align: center;
  min-width: 22rem;
  min-height: 15rem;
  align-items: center;
  justify-content: center;

  .no-results-icon {
    font-size: 4rem;
    color: var(--mat-sys-primary);
    width: 4rem;
    height: 4rem;
  }

  h2 {
    color: var(--mat-sys-primary);
  }

  p {
    color: var(--mat-sys-tertiary);
  }
}
