<mat-toolbar>
  <div matTooltip="{{ 'toolbar.homepage' | transloco }}" class="div-logo" routerLink="/home">
    <img src="assets/airlogo.png" alt="Logo" class="logo" />
    <mat-label class="mat-display-2 hero-title">AIR-ASSIST.EU</mat-label>
  </div>
  <div class="div-page-buttons">
    <button
      *showIfLogged
      matTooltip="{{ 'toolbar.cases' | transloco }}"
      class="mat-icon-btn"
      mat-icon-button
      routerLink="/cases"
    >
      <mat-icon>description</mat-icon>
    </button>
    <button
      matTooltip="{{ 'toolbar.usersList' | transloco }}"
      *appAdmin
      class="mat-icon-btn"
      mat-icon-button
      routerLink="/users"
    >
      <mat-icon>group</mat-icon>
    </button>
  </div>
  <span class="spacer"></span>
  <div class="button-alignment">
    <p class="firstName" *showIfLogged>{{ this.authService.extractFirstNameFromToken(this.authService.sessionToken) }}</p>
    <button *showIfLoggedOut routerLink="/login" class="mat-icon-btn" mat-icon-button>
      <mat-icon matTooltip="{{ 'toolbar.login' | transloco }}">login</mat-icon>
    </button>
    <button
      *showIfLogged
      (click)="logout()"
      routerLink="/home"
      class="mat-icon-btn"
      mat-icon-button
    >
      <mat-icon matTooltip="{{ 'toolbar.logout' | transloco }}">logout</mat-icon>
    </button>
    <app-language-switcher />
  </div>
</mat-toolbar>
