mat-toolbar {
  position: sticky;
  z-index: 10;
  background-color: var(--mat-sys-primary);
  padding: 0 1.5rem;

  a {
    height: 45px;
  }
}

.logo {
  height: 45px;
  background-color: var(--mat-sys-secondary-container);
}

.mat-icon-btn {
  margin-right: 3rem;
  color: var(--mat-sys-on-primary);
}

.spacer {
  flex: 1 1 auto;
  margin: 0;
}
