<mat-toolbar>
  <div  matTooltip="Homepage" class="div-logo" routerLink="/home">
    <img src="assets/airlogo.png" alt="Logo" class="logo" />
  <mat-label class="mat-display-2 hero-title">AIR-ASSIST.EU</mat-label>
  </div>
  <div class="div-page-buttons">
    <button *showIfLogged matTooltip="Cases" class="mat-icon-btn" mat-icon-button routerLink="/cases">
      <mat-icon>description</mat-icon>
    </button>
    <button matTooltip="Users list" *appAdmin class="mat-icon-btn" mat-icon-button routerLink="/users">
      <mat-icon>group</mat-icon>
  </button>
  </div>
  <span class="spacer"></span>
  <button *showIfLoggedOut routerLink="/login" class="mat-icon-btn" mat-icon-button>
    <mat-icon matTooltip="Login">login</mat-icon>
  </button>
  <button *showIfLogged (click)="logout()" routerLink="/home" class="mat-icon-btn" mat-icon-button>
    <mat-icon matTooltip="Logout">logout</mat-icon>
  </button>
  <app-language-switcher />
</mat-toolbar>
