@if (this.airportService.isLoading()) {
  <app-loading-spinner />
}
<div class="flight-form-wrapper">
  <app-flight-details-form [flightForm]="form" />
  <div *ngFor="let flight of connectingFlights; let i = index">
    <h2 class="mat-headline-5">{{ 'connecting-flight.title' | transloco }} #{{ i + 1 }}</h2>
    <app-flight-details-form [flightForm]="flight" />
  </div>
  @if (reward !== null) {
    <div class="reward-message">
      {{ 'flightDetails.rewardMessage' | transloco: { reward: reward } }}
    </div>
  }
  <div class="form-actions">
    <button mat-raised-button (click)="removeConnectingFlight()">
      {{ 'flightDetails.deleteConnectingFlight' | transloco }}</button
    >
    <button
      mat-raised-button
      color="primary"
      type="button"
      [disabled]="!validForms()"
      (click)="addConnectingFlight()"
    >
      {{ 'flightDetails.add' | transloco }}</button
    >
    <button mat-raised-button (click)="continue()" [disabled]="!validForms()">
      {{ 'flightDetails.next' | transloco }}</button
    >
  </div>
</div>
