@if (!showPassengerDetails) {
  <mat-card class="special-mat-card">
    <mat-card-header class="special-mat-header">
      <mat-card-title class="special-mat-title">{{
        translate('userDetails.title')
      }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="special-mat-content">
      <form [formGroup]="form">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            type="text"
            id="email"
            email
            (blur)="onEmailBlur()"
          />
            <mat-error>
                <mat-icon>error</mat-icon>
              @if (form.controls.email.errors?.['emailExists']) {
                {{ translate('user-details.error.email.already') }}
              } @else {
                {{ translate('user-details.error.email.required')}}
              }
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="special-form-field">
          <mat-label>{{ 'user-details.registrationNo' | transloco }}</mat-label>
          <input
            matInput
            formControlName="registrationNo"
            type="text"
            id="registrationNo"
            [placeholder]="translate('user-details.registrationNo')"
          />
          @if (form.controls.registrationNo.errors?.['required']) {
            <mat-error>
              <mat-icon>error</mat-icon>
              {{ translate('user-details.error.registrationNo.required') }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="fill" class="special-form-field">
          <mat-label>{{ 'user-details.firstName' | transloco }}</mat-label>
          <input
            matInput
            formControlName="firstName"
            type="text"
            id="firstName"
            [placeholder]="translate('user-details.firstName')"
          />
          @if (form.controls.firstName.errors?.['required']) {
            <mat-error>
              <mat-icon>error</mat-icon>
              {{ translate('user-details.error.firstName.required') }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="fill" class="special-form-field">
          <mat-label>{{ 'user-details.lastName' | transloco }}</mat-label>
          <input
            matInput
            formControlName="lastName"
            type="text"
            id="lastName"
            [placeholder]="translate('user-details.lastName')"
          />
          @if (form.controls.lastName.errors?.['required']) {
            <mat-error>
              <mat-icon>error</mat-icon>
              {{ translate('user-details.error.lastName.required') }}</mat-error>
          }
        </mat-form-field>
        <mat-checkbox formControlName="isPassenger">{{
          translate('user-details.iAmPassenger')
        }}</mat-checkbox>
      </form>
    </mat-card-content>
    <mat-card-actions class="special-form-actions">
      <button (click)="back()" mat-stroked-button>
        {{ translate('stepper.back') }}
        <mat-icon fontIcon="arrow_back" />
      </button>
      <button
        mat-flat-button
        class="special-mat-prim-button"
        (click)="continueToPassengerDetails()"
        [disabled]="!isValid()"
      >
        {{ translate('stepper.next') }}
        <mat-icon fontIcon="arrow_forward" />
      </button>
      @if(emailExists() && !this.loggedInSignal()) {
      <button
        mat-flat-button
        class="special-mat-prim-button"
        (click)="openDialog()"
        [disabled]="!emailExists()"
      >
        {{ translate('login.button') }}
        <mat-icon fontIcon="login" />
      </button>
      }
    </mat-card-actions>
  </mat-card>
}
@if (showPassengerDetails) {
  <mat-card class="passenger-details-form-card special-mat-card">
    <mat-card-header class="special-mat-header">
      <mat-card-title class="special-mat-title">{{
        translate('passenger-details.title')
      }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="special-mat-content">
      <app-passenger-details-form
        (receiveMessagePassenger)="handleReceiveMessage($event)"
        [autoFillNames]="autoFillPassengerNames"
        (validityChange)="isValidPassengerDetails.set($event)"
      >
      </app-passenger-details-form>
    </mat-card-content>

    <mat-card-actions class="special-form-actions">
      <button (click)="backToUserDetails()" mat-stroked-button>
        {{ translate('stepper.back') }}
        <mat-icon fontIcon="arrow_back" />
      </button>
      <button
        mat-flat-button
        class="special-mat-prim-button"
        (click)="continueToSubmit()"
        [disabled]="!isValidPassengerDetails()"
      >
        {{ translate('stepper.next') }}
        <mat-icon fontIcon="arrow_forward" />
      </button>
    </mat-card-actions>
  </mat-card>
}
