<mat-card class="special-mat-card">
  <mat-card-header class="special-mat-header">
    <mat-card-title class="special-mat-title">{{ translate('userDetails.title') }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="special-mat-content">
    <form [formGroup]="form">
        <mat-form-field>
          <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          type="text"
          id="firstName"
          email
        />
        </mat-form-field>
      @if(emailExists()){
        <mat-error>Email already exists!</mat-error>
      }

      <mat-form-field appearance="fill" class="special-form-field">
        <mat-label>{{ 'user-details.registrationNo' | transloco }}</mat-label>
        <input
          matInput
          formControlName="registrationNo"
          type="text"
          id="registrationNo"
          [placeholder]="translate('user-details.registrationNo')"
        />
      </mat-form-field>
      @if(form.controls.registrationNo.errors?.['required']) {
        <mat-error>{{ translate('error.reservationNo.required') }}</mat-error>
      }

      <mat-card-actions class="special-form-actions">
      <button (click)="back()" mat-flat-button>
        {{ translate('stepper.back')}}
      </button>
      <button (click)="continue()" mat-flat-button [disabled]="!isValid()">
        {{ translate('stepper.next') }}
      </button>
    </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>