form {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  max-width: 56.25rem;
  margin: 2rem auto;
  background-color: var(--mat-sys-primary-container);
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);

  h1 {
    grid-column: 1 / -1;
    font-size: 2rem;
    font-weight: 600;
    color: var(--mat-on-primary-container);
    margin-bottom: 1rem;
  }

  mat-list {
    grid-column: 1 / -1;
    margin-top: 1rem;
  }

  .file-list-item {
    display: flex;
    align-items: center;
    width: 100%;

    .spacer {
      flex: 1 1 auto;
    }

    button[mat-icon-button] {
      margin-left: 1rem;
    }
  }
}

.buttons-div {
  display: flex;
  flex-direction: row;
  gap: 40rem;
}

button[mat-raised-button]:enabled {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-secondary-on-container);
}

.button-upload {
  width: 10rem;
  display: flex;
}
