.document-form-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .document-form-card {
    form {
      width: 100%;
      overflow: auto;

      .mat-mdc-form-field {
        width: 100%;
        padding-top: 1rem;
      }
    }
  }
}
