// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './styles/_theme-colors.scss' as theme-colors;
@use './styles/layout';
@use './styles/case-entry';
@use './styles/_case-view';

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.login-dialog-container .login-form-container,
.login-dialog-container .special-mat-card{
  height: 100% !important;
  width: 90vw !important;
  border-radius: 0 !important;
  justify-content: normal;
  align-items: normal;
  margin: 0 !important;
  overflow-x: hidden;
  max-width: 100% !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.login-dialog-container .special-mat-card{
  padding: 1rem !important;
}



body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
