<div class="flight-form-wrapper">
  <form [formGroup]="flightForm">
    <h2>{{ 'flightDetails.title' | transloco }}</h2>
    <div class="form-fields">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'flightDetails.flightNr' | transloco }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="flightNr"
          placeholder="{{ 'flightDetails.typeFlightNr' | transloco }}"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'flightDetails.departingAirport' | transloco }}</mat-label>
        <input
          type="text"
          matInput
          formControlName="departingAirport"
          [matAutocomplete]="autoDepart"
          placeholder="{{ 'flightDetails.searchAirport' | transloco }}"
        />
        <mat-autocomplete #autoDepart="matAutocomplete">
          <mat-option *ngFor="let airport of filteredAirports" [value]="airport.name">
            {{ airport.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ 'flightDetails.destinationAirport' | transloco }}</mat-label>
        <input
          type="text"
          matInput
          formControlName="destinationAirport"
          [matAutocomplete]="autoDest"
          placeholder="{{ 'flightDetails.searchAirport' | transloco }}"
        />
        <mat-autocomplete #autoDest="matAutocomplete">
          <mat-option *ngFor="let airport of filteredAirports" [value]="airport.name">
            {{ airport.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'flightDetails.plannedDepartureDate' | transloco }}</mat-label>
        <input
          matInput
          [matDatepicker]="departureDatePicker"
          formControlName="plannedDepartureDate"
        />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="departureDatePicker" />
        <mat-datepicker #departureDatePicker />
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'flightDetails.plannedDepartureTime' | transloco }}</mat-label>
        <input
          matInput
          [matTimepicker]="departureTimePicker"
          formControlName="plannedDepartureTime"
        />
        <mat-timepicker-toggle matIconSuffix [for]="departureTimePicker" />
        <mat-timepicker #departureTimePicker />
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'flightDetails.plannedArrivalDate' | transloco }}</mat-label>
        <input
          matInput
          [matDatepicker]="arrivalDatePicker"
          formControlName="plannedArrivalDate"
          [min]="flightForm.get('plannedDepartureDate')?.value"
        />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="arrivalDatePicker" />
        <mat-datepicker #arrivalDatePicker />
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'flightDetails.plannedArrivalTime' | transloco }}</mat-label>
        <input matInput [matTimepicker]="arrivalTimePicker" formControlName="plannedArrivalTime" />
        <mat-timepicker-toggle matIconSuffix [for]="arrivalTimePicker" />
        <mat-timepicker #arrivalTimePicker />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ 'flightDetails.airline' | transloco }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="airline"
          placeholder="{{ 'flightDetails.typeAirline' | transloco }}"
        />
      </mat-form-field>
    </div>

    <div class="form-spacer"></div>
    <div class="form-buttons">
      <button mat-raised-button color="primary" type="button" (click)="addConnectingFlight()">
        {{ 'flightDetails.add' | transloco }}
      </button>
      <button
        class="form-actions"
        mat-raised-button
        [disabled]="flightForm.invalid"
        (click)="continue()"
      >
        {{ 'flightDetails.next' | transloco }}
      </button>
    </div>
  </form>
</div>
