.flight-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 50vw;
  margin: 4vh auto;
  padding: 4em;
  background: var(--mat-sys-primary-container);
  border-radius: 1em;
  box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.15);

  .air-data {
    display: flex;
    justify-content: space-between;

    .flight {
      flex: 0.75;
      margin-right: 1em;
    }

    .airline {
      flex: 1.25;
      margin-left: 1em;
    }
  }

  .airports {
    display: flex;
    justify-content: space-between;
    position: relative;

    .depart {
      flex: 1;
      margin-right: 1em;
      max-width: 320px;
      width: 100%;
      position: relative;
    }

    .dest {
      flex: 1;
      margin-left: 1em;
      max-width: 320px;
      width: 100%;
      position: relative;
    }

    .custom-dropdown {
      position: relative;
      z-index: 30000;
    }
  }

  .depDate {
    display: flex;
    justify-content: space-between;

    .date {
      flex: 1;
      margin-right: 1em;
    }

    .time {
      flex: 1;
      margin-left: 1em;
    }
  }

  .destDate {
    display: flex;
    justify-content: space-between;

    .date {
      flex: 1;
      margin-right: 1em;
    }

    .time {
      flex: 1;
      margin-left: 1em;
    }
  }
}
